<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="plGroup" type="TelChina.TRF.System.PLSection, TelChina.TRF.System"  />
    </configSections>
  <plGroup>
    <settings>
      <setting appName="Demo" fileName="hibernate.cfg.xml" ormType="NH"  />
    </settings>
  </plGroup>
</configuration>