<?xml version="1.0"?>
<configuration>
  <baseAddress>
    <address name="uuds" value="http://localhost:8080/Services" />
    <address name="internet" value="http://localhost:8080/Services" />
    <address name="network" value="net.tcp://localhost:8081/Services" />
  </baseAddress>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="network" maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="internet" bypassProxyOnLocal="true" maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800" openTimeout="01:00:00" receiveTimeout ="01:00:00" sendTimeout="01:00:00" closeTimeout="01:00:00">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
        <binding name="uuds" bypassProxyOnLocal="true" maxReceivedMessageSize="52428800">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
      </basicHttpBinding>   
    </bindings>
  </system.serviceModel>
</configuration>