<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="plGroup" type="TelChina.AF.System.PLSection, TelChina.AF.System"  />
  </configSections>  
  <connectionStrings>
     <add name="mycon" connectionString="Data Source=192.168.5.148;Initial Catalog=EntityBase;Persist Security Info=True;User ID=sa;Password=sa203516"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <plGroup>
    <settings>
      <setting appName="Demo" fileName="hibernate.cfg.xml" ormType="NH"  />
    </settings>
  </plGroup>

  <appSettings>
    <add key="testa" value="testv"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\Bin;.\Labs" />
    </assemblyBinding>
  </runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\Bin;.\Labs" />
    </assemblyBinding>
  </runtime>  
</configuration>


