<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="plGroup" type="TelChina.AF.Sys.Configuration.PLGroup, TelChina.AF.Sys"  />
    <section name="svGroup" type="TelChina.AF.Sys.Configuration.SVGroup, TelChina.AF.Sys"  />
  </configSections>
  <plGroup provider="TelChina.AF.Persistant.NHImpl.NHRepositoryFactory, TelChina.AF.Persistant.NHImpl" >
    <storages>
      <add appName="default" fileName="Config\hibernate.cfg.xml"  />
    </storages>
  </plGroup>
  <svGroup>
    <svHosts>
      <add  appName ="default" hostName="localhost"  port="1235"  defaultBinding="default"/>
      <!--<add ServiceBaseUri ="net.tcp://localhost:12345/" DefaultBinding="network"/>-->
    </svHosts>
  </svGroup>
  <!--<appSettings>
    <add key="testa" value="testv"/>
  </appSettings>-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="default" bypassProxyOnLocal="true" maxReceivedMessageSize="52428800" transactionFlow="true" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="network" maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="internet" bypassProxyOnLocal="true" maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800" openTimeout="01:00:00" receiveTimeout ="01:00:00" sendTimeout="01:00:00" closeTimeout="01:00:00">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
        <binding name="uuds" bypassProxyOnLocal="true" maxReceivedMessageSize="52428800">
          <readerQuotas maxDepth="500" maxArrayLength="52428800" maxStringContentLength="52428800"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>


