<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="plGroup" type="TelChina.AF.System.PLSection, TelChina.AF.System"  />-->
    <!--<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <!--<plGroup>
    <settings>
      <setting appName="Demo" fileName="hibernate.cfg.xml" ormType="NH"  />
    </settings>
  </plGroup>-->
  <policyInjection>
    <policies>
      <add name="ServiceImpPolicy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.CustomAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            attributeType="TelChina.AF.Service.AOP.AOPAttribute.LogAttribute,TelChina.AF.Service.AOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            name="Custom Attribute Matching Rule" />
        </matchingRules>
        <handlers>
          <add Test="Hello World!!" type="TelChina.AF.Service.AOP.CallHandler.ServiceLogCallHandler,TelChina.AF.Service.AOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            name="ServiceLogCallHandler" />
        </handlers>
      </add>
    </policies>
  </policyInjection>
  <connectionStrings>
    <add name="dcm" connectionString="Database=dcm_Demo;Server=(local);uid=sa;pwd=test;"
      providerName="System.Data.SqlClient" />
    <add name="TestContext" connectionString="Data Source=(local);Initial Catalog=Test;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="Conn" connectionString="Database=dcm_Demo;Server=(local);uid=sa;pwd=test;"
      providerName="System.Data.SqlClient" />
    <add name="DemoEntities" connectionString="metadata=res://*/Model.DemoEDM.csdl|res://*/Model.DemoEDM.ssdl|res://*/Model.DemoEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Demo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceBaseUri" value="http://localhost:1234/" />
    <add key="DeployType" value="Integrate" />
    <!--<add key="DeployType" value="Distributed" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\Bin;.\Labs" />
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITransSV" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding" closeTimeout="00:11:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <!--<service name="TransSV">
        <endpoint address="http://localhost:8418/Portal/TransSV.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITransSV"
      contract="TelChina.AF.Demo.DemoSV.ITransSV" name="WSHttpBinding_ITransSV">
        </endpoint>
      </service>-->
      <service name="DualSV">
        <endpoint address="http://localhost:1235/DualSV" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="TelChina.AF.Demo.DemoSV.IDualSV" name="wsDualHttpBinding_DualSV">
        </endpoint>
      </service>
      <service name="SubScriptionSV">
        <endpoint address="http://localhost:1235/MySubscriptionService" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="TelChina.AF.Demo.DemoSV.IMySubscriptionService" name="wsDualHttpBinding_IMySubscriptionService">
        </endpoint>
      </service>
    </services>
    <client>
      <!--<endpoint address="http://localhost:8418/Portal/TransSV.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITransSV"
        contract="TransSVDirect.ITransSV" name="WSHttpBinding_ITransSV">
        <identity>
          <userPrincipalName value="zhoulun-PC\zhoulun" />
        </identity>
      </endpoint>-->
      <!--<endpoint address="http://localhost:8418/Portal/MyService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMyService" contract="IISService.IMyService"
        name="BasicHttpBinding_IMyService" />-->
      <!--<endpoint address="http://localhost:8418/Portal/MyService.svc" binding="basicHttpBinding"
       bindingConfiguration="BasicHttpBinding_IMyService" contract="IISService.IMyService"
       name="BasicHttpBinding_IMyService" />-->
      <endpoint address="http://localhost:1235/DualSV" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="TelChina.AF.Demo.DemoSV.IDualSV" name="wsDualHttpBinding_DualSV" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>